<div (click)="click($event)" title="Custom day" class="day" style="font-size: 13px;
padding: 6px;
position: relative;
background: linear-gradient(45deg, #000000, #130644bd);
box-shadow: 1px 1px 4px -2px #000;
z-index: 100000;
border-radius: 2px;
color: #fff;">{{title}}

    <div style=" position: absolute;
    bottom: 0;
    left: 0; width:100%;">
        <div style="width: 25%;
        height: 3px;
        background: #c1c1c1;
        display: block;
        float: left;
        
       "></div>
        <div style="width: 25%;
        height: 3px;
        background: #949494;
        display: block;
        float: left;
      "></div>

        <div style="width: 25%;
height: 3px;
background: #636363;
display: block;
float: left;
"></div>
        <div style="width: 25%;
height: 3px;
background: #333;
display: block;
float: left;
"></div>

    </div>

</div>