html,
body {
  padding: 0;
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  height: 100%;
}

table {
  border: 1px solid #c3c3c3;
}

table td {
  padding: 10px;
  font-size: 14px;
  vertical-align: top;
}

.wrap {
  width: 100%;
  float: left;
  background: #c3c3c3;
  padding: 32px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
