<div style="width:100%; display:block; float:left;">
    <h1>Angular calendar</h1>

    <div class="wrap">
        <div style=" display:block; float:left;">
            <angular-datepicker2 [days]="days" [nowDate]="date" [(selectedDates)]="selectedDates"
                [selectMode]="selectMode" [weekends]="weekends" [suggest]="showSuggest ? suggest : null" [weekStart]="weekStart" [viewMode]="viewMode"
                [vertical]="vertical" (onDayClick)="onDayClick($event)" [disabledDates]="showDisabledDates ? disabledDates : null">


                <div *ad2day="let date from days[0].date" [attr.title]="'Custom day'" class="customDay">
                    {{date.getDate()}}
                    <div class="points">
                        <div class="point"></div>
                        <div class="point red"></div>
                    </div>
                </div>

                <div *ad2day="let date from days[1].date" [attr.title]="'Custom day'" class="customDay">
                    {{date.getDate()}}
                    <div class="points">
                        <div class="point blue"></div>
                        <div class="point red"></div>
                    </div>
                </div>

                <div *ad2day="let date from days[2].date" [attr.title]="'Custom day'" class="customDay">
                    {{date.getDate()}}
                    <div class="points">
                        <div class="point blue"></div>
                        <div class="point green"></div>
                    </div>
                </div>

                <div *ad2day="let date from days[3].date" [attr.title]="'Custom day'" class="customDay">
                    {{date.getDate()}}
                    <div class="points">
                        <div class="point blue"></div>
                        <div class="point red"></div>
                        <div class="point green"></div>
                    </div>
                </div>

            </angular-datepicker2>
        </div>
    </div>

    <div style=" width:50%; display: block; float: left; padding: 16px; box-sizing: border-box">
        <h3>Props</h3>
        <table border=1 style="width:100%; background: #fff; border-collapse: collapse;">
            <tr>
                <td>viewMode</td>
                <td>ViewMode | int</td>
                <td>Template for render months. If quater start month woul be January, April or August. If 3 - end by
                    shownDate else last date in selectedDates</td>
                <td>
                    <select (change)="_viewMode($event)" value="quarter">
                        <option *ngFor="let i of _viewModeVal" [value]="i">
                            {{i}}
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>vertical</td>
                <td>boolean</td>
                <td>Alignment of days in a week. Default horizontal.</td>
                <td>
                    <select (change)="_vertical($event)" value="quarter">
                        <option *ngFor="let i of _verticalVal" [value]="i">
                            {{i}}
                        </option>
                    </select>
                </td>
            </tr>

            <!-- <tr>
                <td>shownDate</td>
                <td>Date</td>
                <td>Date whould be render for default calendar. Calendar ends by month of this date</td>
                <td>
                    <angular-datepicker2 [shownDate]="_shownDateVal" selectMode="single" [weekends]="[0,1]"
                        [(selectedDates)]="_shownDateVal" [weekStart]="1" [viewMode]="1" [vertical]="vertical">
                    </angular-datepicker2>
                </td>
            </tr> -->

            <tr>
                <td>selectMode</td>
                <td>SelectMode</td>
                <td>Single, multiple or period</td>
                <td>
                    <select (change)="_selectMode($event)" value="period">
                        <option *ngFor="let i of _selectModeVal" [value]="i">
                            {{i}}
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>selectedDates</td>
                <td>[Date]</td>
                <td>Array of selected date. Support [(selectedDates)]</td>
                <td>
                    <p *ngFor="let date of selectedDates">{{date | date:'yyyy.MM.dd'}}</p>
                </td>
            </tr>

            <tr>
                <td>weekStart</td>
                <td>number</td>
                <td>Start week day (0=Sunday, 1=Monday, etc.)</td>
                <td>
                    <select (change)="_weekStart($event)" [value]="weekStart">
                        <option *ngFor="let i of _weekStartVal" [value]="i">
                            {{i}} ({{['Sun','Mon','Tue','Wed','Thu','Fri','Sat'][i]}})
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>weekends</td>
                <td>number[]</td>
                <td>Array of weekend days (0=Sunday, 6=Saturday)</td>
                <td>
                    <select (change)="_weekends($event)" [value]="JSON.stringify(weekends)">
                        <option *ngFor="let item of _weekendsVal" [value]="JSON.stringify(item.value)">
                            {{item.label}}
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>suggest</td>
                <td>Suggest[]</td>
                <td>Array of suggested date ranges</td>
                <td>
                    <select (change)="_showSuggest($event)" [value]="showSuggest">
                        <option *ngFor="let i of _showSuggestVal" [value]="i">
                            {{i ? 'Show suggestions' : 'Hide suggestions'}}
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>disabledDates</td>
                <td>DisabledDates</td>
                <td>Object to disable dates before/after specific dates</td>
                <td>
                    <select (change)="_showDisabledDates($event)" [value]="showDisabledDates">
                        <option *ngFor="let i of _showDisabledDatesVal" [value]="i">
                            {{i ? 'Enable disabled dates' : 'Disable disabled dates'}}
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>nowDate</td>
                <td>Date</td>
                <td>Current date for highlighting</td>
                <td>
                    {{date | date:'yyyy.MM.dd'}}
                </td>
            </tr>

            <tr>
                <td>days</td>
                <td>DayArray</td>
                <td>Custom day definitions with special styling</td>
                <td>
                    {{days?.length || 0}} custom days
                </td>
            </tr>

        </table>




    </div>


    <div style=" width:50%; display: block; float: left; padding: 16px;  box-sizing: border-box">
        <h3>Events</h3>
        <table border=1 style="width:100%; background: #fff; border-collapse: collapse;">

            <tr>
                <td>onDayClick</td>
                <td>Event</td>
                <td>Callback event when click on day. Its returns a Day object before change self state by click</td>
                <td>
                    <div *ngFor="let item of _stackOnDayClick">
                        <pre>{{item | json}}</pre>
                    </div>
                </td>
            </tr>



        </table>




    </div>


</div>


<!-- 
<datepicker2 [shownDate]="date" [selectedDates]="selectedDates" [selectMode]="'multiple'" [vertical]="false"
    [viewMode]="3"></datepicker2>
<datepicker2 [shownDate]="date" [selectedDates]="selectedDates" [selectMode]="'single'">
</datepicker2>
<datepicker2 [viewMode]="1" [selectedDates]="selectedDates" [vertical]="false" [shownDate]="date"></datepicker2>
<datepicker2 [viewMode]="1" [selectedDates]="selectedDates" [vertical]="true" [shownDate]="date"></datepicker2>
<datepicker2 [viewMode]="4" [selectedDates]="selectedDates" [vertical]="true" [shownDate]="date"></datepicker2> -->