<div style="width: 100%; display: block; float: left">
  <div class="wrap">
    <div style="display: block; float: left">
      <ngx-custom-datepicker
        [days]="days"
        [(selectedDates)]="selectedDates"
        [selectMode]="'single'"
        [weekends]="[6]"
        [weekStart]="1"
        [viewMode]="'single'"
        (onDayClick)="onDayClick($event)"
        [disabledDates]="disabledDates"
      >
      </ngx-custom-datepicker>
    </div>
  </div>

  <div style="width: 50%; display: block; float: left; padding: 16px; box-sizing: border-box">
    <h3>Props</h3>
    <table border="1" style="width: 100%; background: #fff; border-collapse: collapse">
      <tr>
        <td>viewMode</td>
        <td>ViewMode | int</td>
        <td>
          Template for render months. If quater start month woul be January, April or August. If 3 - end by shownDate
          else last date in selectedDates
        </td>
        <td>
          <select (change)="_viewMode($event)" value="quarter">
            <option *ngFor="let i of _viewModeVal" [value]="i">
              {{ i }}
            </option>
          </select>
        </td>
      </tr>

      <tr>
        <td>selectMode</td>
        <td>SelectMode</td>
        <td>Single, multiple or period</td>
        <td>
          <select (change)="_selectMode($event)" value="period">
            <option *ngFor="let i of _selectModeVal" [value]="i">
              {{ i }}
            </option>
          </select>
        </td>
      </tr>

      <tr>
        <td>selectedDates</td>
        <td>[Date]</td>
        <td>Array of selected date. Support [(selectedDates)]</td>
        <td>
          <p *ngFor="let date of selectedDates">
            {{ date | date: 'yyyy.MM.dd' }}
          </p>
        </td>
      </tr>
    </table>
  </div>

  <div style="width: 50%; display: block; float: left; padding: 16px; box-sizing: border-box">
    <h3>Events</h3>
    <table border="1" style="width: 100%; background: #fff; border-collapse: collapse">
      <tr>
        <td>onDayClick</td>
        <td>Event</td>
        <td>Callback event when click on day. Its returns a Day object before change self state by click</td>
        <td>
          <div *ngFor="let item of _stackOnDayClick">
            <pre>{{ item | json }}</pre>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
