/* You can add global styles to this file, and also import other style files */

* {
  font-family: sans-serif;
}


body {
  background: #fff;
}

app-root{
  position: relative;
}

html, body{
  margin:0;
  padding : 0;
  width: 100%;
}
